* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  overflow-x: clip;
}

h3 {
  font-weight: 700;
}

span {
  font-size: inherit;
  font-weight: inherit;
}

i {
  cursor: pointer;
}

button {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 0 0 15px;
  padding: 17.5px 0;
  background: #ff7d1a;
  color: #fff;
  line-height: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  cursor: pointer;
  -webkit-box-shadow: 0 20px 25px 0 #ffede0;
  box-shadow: 0 20px 25px 0 #ffede0;
}

button:hover {
  opacity: 0.5;
}

button svg {
  padding: 0 10px 0 0;
}

header {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 110px;
  width: 100%;
  position: relative;
  background: #fff;
}

header::after {
  content: "";
  display: block;
  height: 1.5px;
  width: calc(100% - 340px);
  position: absolute;
  bottom: 0;
  left: 170px;
  background: #f7f8fd;
  visibility: visible;
}

.w-logo {
  padding: 0 30px 0 170px;
}

.w-header-nav {
  height: 100%;
  padding: 0 30px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.w-header-nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.w-header-nav nav a {
  height: 100%;
  padding: 0 15px;
}

.w-header-nav nav a:first-child {
  margin: 0 0 0 -15px;
}

.w-header-nav nav a span {
  height: 100%;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  color: #68707d;
}

.w-header-nav nav a span:hover {
  color: #1d2025;
}

.w-header-nav nav a span:hover::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ff7d1a;
}

.w-header-nav--fake,
#i-header-nav-close {
  display: none;
}

.w-basketXaccount {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 170px 0 0;
  position: relative;
}

.w-basket,
.w-account,
#i-menu {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.w-basket {
  position: relative;
}

#basket-pill {
  padding: 2px 7.5px;
  position: absolute;
  top: -29%;
  right: -31%;
  color: #fff;
  font-size: 8px;
  background: #ff7d1a;
  visibility: hidden;
}

#basket-pill.is-active {
  visibility: visible;
  opacity: 1;
}

.w-mini-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 350px;
  padding: 20px 0 30px;
  position: absolute;
  left: 0;
  top: 65px;
  z-index: 3;
  background: #fff;
  -webkit-transform: translateX(calc(-50% + 10px));
  transform: translateX(calc(-50% + 10px));
  -webkit-box-shadow: 0 10px 20px -10px #b6bcc8, 10px 0 20px -10px #b6bcc8,
    -10px 0 20px -10px #b6bcc8;
  box-shadow: 0 10px 20px -10px #b6bcc8, 10px 0 20px -10px #b6bcc8,
    -10px 0 20px -10px #b6bcc8;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
}

.w-mini-cart.is-active {
  opacity: 1;
  visibility: visible;
}

.w-mini-cart > h3 {
  padding: 0 15px 20px;
  border-bottom: 1px solid #b6bcc8;
  font-size: 16px;
}

.w-mini-cart button {
  height: 50px;
  width: calc(100% - 40px);
  margin: 20px 20px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.w-mini-cart button:hover {
  opacity: 1;
}

.w-mini-cart-sumaryXbtn {
  position: relative;
}

.w-mini-cart--is-empty {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 10px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: white;
  opacity: 1;
  visibility: hidden;
  font-weight: 700;
  color: #68707d;
}

.w-mini-cart--is-empty.true {
  visibility: visible;
}

.w-mini-cart--is-empty.is-no-empty {
  visibility: hidden;
  opacity: 0;
}

.w-mini-cart-product-sumary {
  height: 50px;
  padding: 20px 20px 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.w-mini-cart-product-thumbnail {
  height: 50px;
  width: 50px;
  position: relative;
}

.w-mini-cart-product-thumbnail img {
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7.5px;
}

.w-mini-cart-product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: calc(100% - 5px);
  padding: 2.5px 15px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #68707d;
  font-size: 16px;
}

.w-mini-cart-product-info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mini-cart-product-qte,
.mini-cart-product-pt {
  padding: 0 0 0 10px;
}

.mini-cart-product-pt {
  color: #000;
  font-weight: 700;
}

.mini-cart-product-pt span {
  font-weight: 700;
}

.w-account {
  padding: 0 0 0 30px;
}

.w-account img {
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.w-account img:hover {
  border-color: #ff7d1a;
}

#i-menu {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
